@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}

.pic {
  text-align: center;
  margin: 10px;
  padding: 10px;
 
}

.immage {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #d6d3a5;
    border-radius: 15px;
}
.ega{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #9fe789;
    box-shadow: #fed6e3;
    border-radius: 15px;
}

.sig{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #7da9db;
    border-radius: 15px;
}
.home {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 15px;
  border: 0.1px solid #ffffff;
  color: #030303;
  padding: 10px 20px;
  letter-spacing: 1px;
 text-align: center;
  font-size: 0.8rem;
}

.foo {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 10px;
  font-size: 20px;
}
.formproduct {
  padding: 5px;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  border: 1px;
}
.content {
  min-width: 25vw;
}

.gridContainer {
  padding: 2px;
  font-size: 1.2rem;
  border-radius: 15px;
  text-align: center;
  border: 1px;
}

.gridContainer > div {
  /* background-color: rgba(245, 218, 245, 0.8);
  text-align: center;
  padding: 5px 0;
  font-size: 1rem;
   */
  width: auto;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1.2rem;
  border-radius: 15px;
  text-align: center;
  border: 1px;
}

.gridContainer > div > input {
  width: 100%;
  padding: 2px 2px;
  margin: 0px 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  border-radius: 10px;
  border: rgba(226, 239, 241, 0.8);
}
